@font-face {
  font-family: 'UncerFelt';
  src: url('/fonts/uncertain_felttip_fat-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'FeltWoman';
  src: url('/fonts/felt-tip-woman.ttf') format('truetype');
}


.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-image: url('/back.webp');
}

.screen{
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  font-size: xx-large;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3rem;
}

.active{
  display: block;
}

.zero{
  background-image: url('/0.webp');
}

.langSelector{
  /* border: solid 1px gray; */
  width: 20rem;
  height: 5rem;
  position: absolute;
  bottom: 1rem;
}

.one{
  background-image: url('/1.webp');
}

.oneen{
  background-image: url('/1en.webp');
}

.two{
  background-image: url('/2.webp');
}

.twoen{
  background-image: url('/2en.webp');
}

.phone{
  position: absolute;
  bottom: 1.2rem;
  max-height: 3rem;
  width: 19rem;
  left: 15rem;
  border: none;
  background: transparent;
  color: #e6dcca;
  font-family: 'UncerFelt';
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

.phone:focus{
  outline: none;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { margin-left: 0; }
  25% { margin-left: -5px; }
  50% { margin-left: 5px; }
  75% { margin-left: -5px; }
  100% { margin-left: 0; }
}

.go-step-3{
  position: absolute;
  /* border: solid 1px gray; */
  width: 14rem;
  height: 5rem;
  bottom: 1rem;
  right: 1rem;
}

.three{
  background-image: url('/3.webp');
}

.grid-sound-track{
  width: 100vw;
  height: 68vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 6rem;
}

.sound-track{
  /* border: solid 1px gray; */
  width: calc(25% - 2rem);
  height: 7rem;
  box-sizing: border-box;
  margin: .5rem;
}

.track-selected{
  background-image: url('/active.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.msn-three{
  width: 100%;
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; 
  background-image: url('/back.webp');*/
  font-family: 'UncerFelt', 'FeltWoman';
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  position: absolute;
  bottom: 2rem;
  height: 12rem;
  color: #e6dcca;
}

.webcam-container{
  position: absolute;
  width: 71%;
  height: 63%;
  top: 22%;
}

.four{
  background-image: url('/4.webp');
}

.needle{
  /* border: solid 1px gray; */
  width: 7rem;
  height: 18rem;
  position: absolute;
  left: 56%;
  top: 26%;
  background-image: url('/needle.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.disc{
  /* border: solid 1px gray; */
  width: 20rem;
  height: 18rem;
  position: absolute;
  left: 33%;
  top: 27%;
  background-image: url('/disc.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: girarDisco 5s linear infinite; 
}

@keyframes girarDisco {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.timeline{
  /* border: solid 2px red; */
  position: absolute;
  height: 4.5rem;
  top: 58.8%;
  left: 19%;
  border-radius: 30px;
  background: #e6dcca;
  display: none;
  /* animation: aumentarAncho 30s steps(30) forwards;  */
}

.timeline-active{
  display: block !important;
}

.timeline-song-0 {
  width: 0rem;
  animation: aumentarAncho 30s steps(30) forwards;
}

.timeline-song-1 {
  width: 0rem;
  animation: aumentarAncho 30s steps(30) forwards;
}

.timeline-song-2 {
  width: 0rem;
  animation: aumentarAncho 30s steps(30) forwards;
}

@keyframes aumentarAncho {
  to { width: 33rem; } /* Ancho final (ajústalo según tus necesidades) */
}

.trackSelected{
  /* border: solid 1px blue; */
  width: 30rem;
  position: absolute;
  height: 20rem;
  top: 67%;
  left: 22%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-1{
  background-image: url('/track/1.png');
}

.bg-2{
  background-image: url('/track/2.png');
}

.bg-3{
  background-image: url('/track/3.png');
}

.bg-4{
  background-image: url('/track/4.png');
}

.bg-5{
  background-image: url('/track/5.png');
}

.bg-6{
  background-image: url('/track/6.png');
}

.bg-7{
  background-image: url('/track/7.png');
}

.bg-8{
  background-image: url('/track/8.png');
}

.bg-9{
  background-image: url('/track/9.png');
}

.bg-10{
  background-image: url('/track/10.png');
}

.bg-11{
  background-image: url('/track/11.png');
}

.bg-12{
  background-image: url('/track/12.png');
}

.bg-13{
  background-image: url('/track/13.png');
}

.bg-14{
  background-image: url('/track/14.png');
}

.bg-15{
  background-image: url('/track/15.png');
}

.bg-16{
  background-image: url('/track/16.png');
}

.bg-17{
  background-image: url('/track/17.png');
}

.bg-18{
  background-image: url('/track/18.png');
}

.bg-19{
  background-image: url('/track/19.png');
}

.bg-20{
  background-image: url('/track/20.png');
}

.bg-21{
  background-image: url('/track/21.png');
}

.bg-22{
  background-image: url('/track/22.png');
}

.bg-23{
  background-image: url('/track/23.png');
}

.bg-24{
  background-image: url('/track/24.png');
}

.name{
  font-family: 'FeltWoman';
  color: #e6dcca;
  font-size: 3.7rem;
  width: 42vw;
  height: 10rem;
  line-height: 4rem;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  left: 29%;
}

.five{
  background-image: url('/5.webp');
}

.fiveen{
  background-image: url('/5en.webp');
}

.timeline-video{
  /* border: solid 2px red; */
  position: absolute;
  /* width: 0rem; */
  height: 4.1rem;
  left: 16%;
  bottom: .9rem;
  border-radius: 30px;
  background: #e6dcca;
  /* animation: aumentarAnchoVideo 15s steps(20) forwards;  */
}

.timeline-video-active{
  width: 0rem;
  animation: aumentarAnchoVideo 15s steps(20) forwards;
}

@keyframes aumentarAnchoVideo {
  to { width: 29rem; } /* Ancho final (ajústalo según tus necesidades) */
}

/* video {
  width: 100vw;
  height: 110vh;
  object-fit: cover; 
  position: absolute;
  left: 10%;
  right: 0;
  top: 19%;
  bottom: 0;
  z-index: -1; 
} */

.text-callback{
  font-family: 'UncerFelt', 'FeltWoman';
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  background-color: #000;
  color: #e6dcca;
  position: absolute;
  z-index: 2;
  width: 71%;
  height: 63%;
  top: 22.5%;
  left: 14%;
}

.text-callback p{
  margin-top: 40%;
}

.text-callback-inactive{
  display: none !important;
}

.six{
  background-image: url('/6.webp');
}

.sixen{
  background-image: url('/6en.webp');
}